.ofertas{
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:100px;
}
.item{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.imagem{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffafa;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
.texto{
    flex: 1;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
}
.img{
    width: 150px;
    text-align: center;
}
.img:hover{
    width: 170px;
    transition: all 0.5s ease-out;
}
.button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: grey;
    color: var(--cor-branco);
    margin-top: 10px;
    cursor: pointer;
}
.button:hover{
    background-color: var(--cor-azul);
}